body {
    background-color: pink;
    font-family: 'Playpen Sans', cursive;
}

div {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    background-color: white;
}

h1 {
    margin: auto;
        width: 50%;
        padding: 10px;
        text-align: center;
        background-color: white;
}

table {
    margin: auto;
            width: 50%;
            padding: 10px;
            text-align: center;
}
h1. h2 {font-family: 'Playpen Sans', cursive;
}